@model QualitySouvenirs.Models.Login.LoginViewModel

@{
    ViewData["Title"] = "LoginFail";
}

<h2>Sorry, your username (and /or) password were invalid, please click the link below to try again</h2>
<br />
<br />
<a asp-area="" asp-controller="Customers" asp-action="Login">Login</a>

