
@{
    ViewData["Title"] = "RegisterConfirmation";
}

<h3>Thanks for registering</h3>
<br/>
<h4>We have sent a confirmation email containing your login details to the address you specified when signing up </h4>
<br/>
<h4>You may now log in using these details</h4>

