@{
    ViewData["Title"] = "Contact";
}

<style>
    #contact {
        position: absolute;
        top: 100px;
    }
</style>

<p id="contact">
    <br />
    <br />
    Welcome to Quality Souvenirs
    <br />
    <br />
    We are here to do whatever we can to improve your Quality Souvenirs experience
    <br />
    <br />
    If you have any queries or concerns please contact us via email: info@QualitySouvenirs.com
    <br />
    <br />
    We will respond to your query within 3 business hours.
    <br />
    <br />
    Thank you for choosing Quality Souvenirs.

</p>
