@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        position: absolute;
        left: 300px;
    }

    footer{
        color:white;
    }

</style>

<a asp-controller="Home" asp-action="Index">
    <img src="~/images/Logo.png" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer>
        <p>&copy; 2019 - Quality Souvenirs</p>
    </footer>

</a>



